// This file contains rules that are intended to fail the stylelint rules
.test {
  display: none;
  .element {
    @media("min-width: 400px") {
      color: #acf !important;
    }

      &__modifier {
          background-color: transparent;
      }
  }
}
